@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "@mdi/font/css/materialdesignicons.min.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color-default: #eeeeee;
}

body {
  background-color: var(--background-color-default);
}

* {
  font-family: "iranyekan" !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

